@import "./reset.css";
@import url("https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/subsets/Paperlogy-dynamic-subset.css");
/* --------------------- */
::-webkit-scrollbar{
    display: none;
}
:root{
    --color : #f6f6f6;
    --color-2 : #f6f6f6;
    --line-1 : #f6f6f682;
    --bgc-x : #00000053;
    --bgc-1 : #f6f6f600;
    --bgc-2 : #00000087;

    --radius: 20px;

    --gap: 30px;
    
    --text-shadow: 0 2px 10px rgba(0, 0, 0, 0.326);
    --text-shadow2: 0 3px 10px rgba(0, 0, 0, 0.576);
    --shadow: 0 0px 10px rgba(255, 255, 255, 0.328);
    --shadow2: 0 0px 15px rgba(255, 255, 255, .9);

    --dot-0:#818181;
    --dot-1:#e3e3e3;
}
*{
    text-rendering: optimizelegibility;
    box-sizing: border-box;
    color: var(--color);
}
/*  */
html{
    width: 100vw;
    height: 100vh;
    height: 100dvh;
}
body{
    background: url(./assets/bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-color: #0e0e0e;
    position: relative;
    /* overflow: hidden; */
    font-family: "Paperlogy 4 regular", sans-serif;
}
.dpnone{
    /* display: none; */
}
    
/* --------------------- */

main{
    position: relative;
    padding: 110px 80px;
    
    max-width: 1860px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--gap);
}

.s1,.s2{
    height: 100%;
    width: 50%;
}
.s1{
    display: flex;
    align-items: center;
    justify-content: center;
}


.s1 video{  
    /* width: 100%; */
    height: 100%;
    aspect-ratio: 159/160;
    /* max-height: 750px; */
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}
.s2_1 .i, .s1 video{
    border: 1px var(--line-1) solid;
}

/* ------------------------- */
.s2_1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: nowrap;
    gap: 15px;
    text-align: center;
}
.s2_1 .i{
    /* position: relative; */
    /* aspect-ratio: 1/1; */
    width: 50%;
    /* max-width: 357px; */
    overflow: hidden;
    border-radius: 20px;
    background-color: var(--bgc-1);
    backdrop-filter: blur(4px);
    box-shadow: var(--shadow);
    transition: .1s ease-in-out background-color, .15s ease-in-out box-shadow;
}
.thumb img{
    width: 100%;
    height: 155px;
    object-fit: cover;
    border-radius: var(--radius);
    background-size: cover;
    z-index: 0;
}
.s2_1 .i .text{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    gap: 13px;
    padding: 20px 15px;
    font-size: 1.8rem;
    font-weight: bold;
    text-shadow: var(--text-shadow2);
}
.s2_1 p:last-child{
    font-size: 1rem;
}
/* ------------------------- */
.s2_1 .i:hover{
    cursor: pointer;
    background-color: var(--bgc-2);
    box-shadow: var(--shadow2);
}
/* --------------------------------------------------- */

.s2{
    max-height: 740px;
    /* margin-top:43px; */
}
.s2_2{
    position: absolute;
    left: 0;
    top: 58%;
    width: 100%;
    text-align: right;
    font-size: 8rem;
    font-weight:900;
    padding: 0 45px;
}
.s2_2 p{
    text-shadow: var(--text-shadow);
    font-family: "Paperlogy 9 black";
    -webkit-box-reflect: below -30px linear-gradient(to top, transparent, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%);
    box-reflect: below -3vw linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 60%);
}
.s2_2 p:first-child{
    color: #f6f6f6dc;
}
.s2_2 p:last-child{
    line-height: 90%;
    font-size: 7.5rem;
}
/* --------------------------------------------------- */
/* --------------------------------------------------- */
@media (min-width: 800px) {
    
}
/* --------------------------------------------------- */
.dots {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}
.dots .active{background: var(--dot-1);}
.dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--dot-0);
    margin: 0 5px;
    cursor: pointer;
}

/* -------------------- */
#g1,#g2,#me{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 20px 15px;
    
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}
.xbg{
    position: absolute;
    z-index: -1;
    top: 0;left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000077;
    backdrop-filter: blur(14px);
}
.g{
    width: 100%;
    max-width: 80%;
    /* height: 100%; */
    display: block;
    text-align: center;
    position: relative;
}
/* --------------------------------- */
.g-slider{
    width: 100%;
    overflow:hidden;
    /* max-width: 1000px;  */
    /* min-width: 35%; */
    position: relative;
    margin: 0 auto;
}
.g-imgs {
    height: 100%;
    aspect-ratio: 16/9;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: transform 0.3s ease-in-out;
}
.g-imgs img {
    flex: 0 0 100%;
    margin: 2% 0;
    object-fit: contain;
}
.g-ctrl {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;

    height: 85%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-move{
    /* background: rgba(255, 0,     0, 0.3); */
    padding: 10px;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}
.btn-move-prev {
    justify-content: start;
}
.btn-move-c {
    width: 39%;
    cursor: zoom-in;
    display: none;
}
.btn-move-next {
    justify-content: flex-end;
}
/* -------------------- */
.me{
    position: fixed;
    top: 25px;left: 90px;

    height: 55px;
    padding: 5px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 5px;

    overflow: hidden;
    background: url(./assets/bg.png) no-repeat center center fixed;
    background-size: auto;
    /* background-color: #f6f6f60a; */
    backdrop-filter: blur(4px);
    box-shadow: var(--shadow);
    transition: .15s ease-in-out box-shadow;
}
.me:hover{
    cursor: pointer;
    box-shadow: var(--shadow2);
}
.mp{
    height: 100%;
}
.mp img{
    height: 100%;
    border-radius: 50%;
}
.mi{
    padding-right: 7px;
}
#me,.me-container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}
.me-container{
    padding: 30px;
    gap: 40px;
}
.meq,.mep{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}
.mep img{
    max-width: 150px;
    border-radius: 50%;
    width: 100%;
}
.met p{
    line-height: 150%;
}
.meq-c{
    border-radius: 30px;
    background: #fff;
    padding: 20px;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}
.meq img{
    width: 150px;
}
.meq p{
    color: #000;

}